!!! 5
%html
  %head
    %title MockInhalt Test
  %body
    - url = "http://localhost:8080/mockinhalt"
    %form{:action => url, :method => "post", :target => "mock_frame"}
      %input{:type => "submit", :value => "Send"}
      %input{:type => "hidden", :name => "error", :value => "http://localhost:8081/error"}
      %input{:type => "hidden", :name => "cancel", :value => "http://localhost:8081/cancel"}
    %iframe{:id => "mock_iframe", :name => "mock_frame", :src => url}

